body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; 
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    width: 100%; 
    box-sizing: border-box;
    border-radius: 6px;
    text-align: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    justify-self: center;
    font-family: 'Qilkabold';
    font-size: 50px;
    margin: 20px;
}

nav a {
    font-family: 'Queensides';
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    margin: 10px 25px;
    color: black;
    display: inline-block;
    transition: transform 0.5s ease, color 0.5s ease;
    transform-origin: center bottom;
}

nav a:hover {
    color: #ffb766;
    transform: scale(1.1);
}

.momo-sticker {
    margin-left: 20px;
    transition: transform 0.5s ease;
}

.momo-sticker:hover {
    transform: scale(1.1);
}

.media {
    margin-left: 40px;
}

.media a {
    text-decoration: none;
    margin: 5px;
    transition: transform 0.5s ease;
}

.media a img {
    transition: transform 0.5s ease;
}

.media a:hover img {
    transform: scale(1.1);
}


.content-row{
    font-family: 'Palaise';
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: start;
}

.text-content{
    width: 50%;
    margin-top: 150px;
    margin-left: 20px;
    text-align: center;
}

.text-content a, .text-content-center a{
    display: inline-block;
    margin: 8px;
    color: #f43a09;
    background-color: #ffb766;
    text-decoration: none;
    padding: 10px;
    border: solid 1px rgb(2, 2, 2);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.text-content-center a:hover{
    transform: scale(1.1);
    background-color: #f43a09;
    color: #fff;
}

.text-content a:hover {
    transform: scale(1.1);
    background-color: #f43a09;
    color: #fff;
}



.image-content img {
    width: 100%;
    height: auto;
    max-width: 500px;
    margin: 40px;
    border-radius: 20px;
}

.content-center{
    display: flex;
    flex-direction: column;
}

.text-content-center{
    font-family: 'Palaise';
    text-align: center;
}

.image-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.image-row img {
    width: 22%; /* Set width */
    height: 250px; /* Set a fixed height */
    object-fit: cover; /* Ensures images fill the set dimensions */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.image-row img:hover{
    transform: scale(1.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-family: 'Queensides';
    font-size: 16px;
    border-top: 4px solid #ffb766;
}

footer p {
    margin: 5px 0;
}

@font-face {
    font-family: 'Oswald';
    src: url('/public/font-family/Oswald-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Qilkabold';
    src: url('/public/font-family/Qilkabold-DO6BR.otf') format('truetype');
}

@font-face {
    font-family: 'Helvetica';
    src: url('/public/font-family/Helvetica.ttf') format('truetype');
}

@font-face {
    font-family: 'Queensides';
    src: url('/public/font-family/Queensides\ Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Palaise';
    src: url('/public/font-family/PalaiseblurRegularDemo-rvdB9.otf') format('truetype');
}
