/* Global Styles */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; 
}

/* Header Styles */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    width: 100%; 
    box-sizing: border-box;
    border-radius: 6px;
    text-align: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    justify-self: center;
    font-family: 'Qilkabold';
    font-size: 50px;
    margin: 20px;
}

/* Navigation Styles */
nav a {
    font-family: 'Queensides';
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    margin: 10px 25px;
    color: black;
    display: inline-block;
    transition: transform 0.5s ease, color 0.5s ease;
    transform-origin: center bottom;
}

nav a:hover {
    color: #ffb766;
    transform: scale(1.1);
}

/* Logo Styles */
.momo-sticker {
    margin-left: 20px;
    transition: transform 0.5s ease;
}

.momo-sticker:hover {
    transform: scale(1.1);
}

/* Social Media Icons */
.media {
    margin-left: 40px;
}

.media a {
    text-decoration: none;
    margin: 5px;
    transition: transform 0.5s ease;
}

.media a img {
    transition: transform 0.5s ease;
}

.media a:hover img {
    transform: scale(1.1);
}

/* Heading Styles */
h1 {
    text-align: center;
    font-family: 'Qilkabold';
    font-size: 50px;
    margin: 20px 0;
}

/* Menu Section Styles */
.menu-section {
    padding: 50px 5%;
    background-color: #fff;
}

.menu-category {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    gap: 40px;
}

.menu-category.reverse {
    flex-direction: row-reverse;
}

.menu-category .image, .menu-category .text {
    flex: 1;
}

.menu-category .image img {
    width: 90%;
    height: 440px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-category .text {
    font-family: 'RobotoCondensed', sans-serif;
}

.menu-category .text h2 {
    font-size: 32px;
    color: #ff6f61;
    margin-bottom: 20px;
}

.menu-category .text ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-category .text li {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
    width: 400px;
}

.menu-category .text li:last-child {
    border-bottom: none;
}

.menu-category .text li span {
    font-weight: bold;
}

.image img{
    border: solid 1px #ffb766;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-family: 'RobotoCondensed';
    font-size: 16px;
    border-top: 4px solid #ffb766;
}

footer p {
    margin: 5px 0;
}

/* Font Faces */
@font-face {
    font-family: 'Oswald';
    src: url('/public/font-family/Oswald-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Qilkabold';
    src: url('/public/font-family/Qilkabold-DO6BR.otf') format('opentype');
}

@font-face {
    font-family: 'Helvetica';
    src: url('/public/font-family/Helvetica.ttf') format('truetype');
}

@font-face {
    font-family: 'Queensides';
    src: url('/public/font-family/Queensides Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Palaise';
    src: url('/public/font-family/PalaiseblurRegularDemo-rvdB9.otf') format('opentype');
}



@font-face {
    font-family: 'RobotoCondensed';
    src: url('/public/font-family/RobotoCondensed-VariableFont_wght.ttf') format('truetype');
}
